.swiper {
    .swiper-slide {
    }
    img {
    }
    .swiper-pagination {
        padding-top: 20px;
        --swiper-pagination-color: var(--color-secondary);
        --swiper-pagination-bullet-inactive-color: black;
    }

    .swiper-pagination-bullets {
        // position: sticky;
        margin-top: 40px;
    }

    .swiper-pagination-bullet {
        --size: 90px;

        border-radius: 100px;
        height: 10px;
        margin: 0 5px;
        transition: border 0.4s ease-out;
        width: 50px;
    }
}
