{% include '_partials/_header.html' %}
<section class="error__404">
    <section class="heroAbsolute">
        <img class="bgHero" src="assets/images/hero_galaxy.png" alt="hero galaxy" />
        <div class="wrapper">
            <div class="hero_content">
                <h1>404</h1>
                <h3>Oups ! Il semble que votre voyage ait pris une direction inattendue.</h3>
                <div class="bouton">
                    <a href="index.html" class="">Retourner à l’accueil</a>
                </div>
            </div>
        </div>
    </section>
</section>
{% include '_partials/_footer.html' %}
