{% include '_partials/_header.html' %}

<section class="credits">
    <div class="wrapper">
        <div class="titre titreGauche">
            <h1>Crédits</h1>
            <img src="assets/images/banner.svg" alt="banner" class="banner" />
        </div>
        <div class="workers">
            <div class="worker">
                <h3>Emmy Fortin</h3>
                <p>Rôle : Designer</p>
                <h4>Contributions</h4>
                <ul class="contribute">
                    <li>Design Mobile</li>
                    <li>Moodboard</li>
                    <li>Autre</li>
                    <li>Autre truc</li>
                </ul>
            </div>
            <div class="worker">
                <h3>Emmy Fortin</h3>
                <p>Rôle : Designer</p>
                <h4>Contributions</h4>
                <ul class="contribute">
                    <li>Design Mobile</li>
                    <li>Moodboard</li>
                    <li>Autre</li>
                    <li>Autre truc</li>
                </ul>
            </div>
            <div class="worker">
                <h3>Emmy Fortin</h3>
                <p>Rôle : Designer</p>
                <h4>Contributions</h4>
                <ul class="contribute">
                    <li>Design Mobile</li>
                    <li>Moodboard</li>
                    <li>Autre</li>
                    <li>Autre truc</li>
                </ul>
            </div>
            <div class="worker">
                <h3>Emmy Fortin</h3>
                <p>Rôle : Designer</p>
                <h4>Contributions</h4>
                <ul class="contribute">
                    <li>Design Mobile</li>
                    <li>Moodboard</li>
                    <li>Autre</li>
                    <li>Autre truc</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
