{% include '_partials/_header.html' %}
<section class="heroAbsolute">
    <img class="bgHero" src="assets/images/hero_equipe.png" alt="hero equipe" />
    <div class="wrapper">
        <h1>Notre équipe</h1>
    </div>
</section>
<section class="equipe">
    <div class="wrapper">
        <div class="cards">
            <a href="#">
                <div class="card">
                    <div class="card__content">
                        <h4>Mikaël Laferrière</h4>
                        <span class="role">Responsable Logistique</span>
                        <p>
                            Mikaël coordonne la gestion des stocks, des approvisionnements et des livraisons. S’assure
                            que les produits arrivent à destination de manière efficace.
                        </p>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/team_member_jacky.png" alt="membre équipe Jacky" />
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="card">
                    <div class="card__content">
                        <h4>Emile Tardif</h4>
                        <span class="role">Directeur Général (CEO)</span>
                        <p>
                            Emile est responsable de la vision globale et de la direction stratégique chez Nova Transit.
                            Il supervise les opérations et prend les décisions finales sur les principales initiatives.
                        </p>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/team_member_jacky.png" alt="membre équipe Jacky" />
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="card">
                    <div class="card__content">
                        <h4>Emmy Fortin</h4>
                        <span class="role">Directeur des Opérations (COO)</span>
                        <p>
                            Emmy gère les opérations quotidiennes chez Nova Transit. Elle s’assure que Nova Transit
                            fonctionne de manière fluide et efficace.
                        </p>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/team_member_jacky.png" alt="membre équipe Jacky" />
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="card">
                    <div class="card__content">
                        <h4>Jacky Southiphonh</h4>
                        <span class="role">Développeur/Ingénieur Logiciel</span>
                        <p>
                            Jacky conçoit, développe et maintient les logiciels et applications nécessaires au
                            fonctionnement à Nova Transit
                        </p>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/team_member_jacky.png" alt="membre équipe Jacky" />
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
