{% include '_partials/_header.html' %}

<section class="hero_accueil">
    <div class="wrapper">
        <div class="content_hero_accueil">
            <h1>Un transport hors du commun</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Ut et massa mi. Lorem ipsum <br />dolor sit amet, consectetur sit amet,
                consectetur
            </p>
            <div class="bouton"><a href="#">Voir transport</a></div>
        </div>
        <img src="assets/images/cargo_ship.png" alt="Vaisseau Cargo" data-scrolly="fromLeft" />
    </div>
</section>

<section class="carousel_showroom">
    <div class="swiper" data-component="Carousel">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img class="img_slide" src="assets/images/express_ship.png" alt="Express ship" />
                <div class="content_slide">
                    <div class="titre titreGauche">
                        <h2>vaisseau express</h2>
                        <img src="assets/images/banner.svg" alt="banner" class="banner" />
                    </div>
                    <div class="bouton"><a href="#">Voir transport</a></div>
                </div>
            </div>

            <div class="swiper-slide">
                <img class="img_slide" src="assets/images/express_ship.png" alt="Express ship" />
                <div class="content_slide">
                    <div class="titre titreGauche">
                        <h2>vaisseau express</h2>
                        <img src="assets/images/banner.svg" alt="banner" class="banner" />
                    </div>
                    <div class="bouton"><a href="#">Voir transport</a></div>
                </div>
            </div>

            <div class="swiper-slide">
                <img class="img_slide" src="assets/images/express_ship.png" alt="Express ship" />
                <div class="content_slide">
                    <div class="titre titreGauche">
                        <h2>vaisseau express</h2>
                        <img src="assets/images/banner.svg" alt="banner" class="banner" />
                    </div>
                    <div class="bouton"><a href="#">Voir transport</a></div>
                </div>
            </div>
            <div class="swiper-slide">
                <img class="img_slide" src="assets/images/express_ship.png" alt="Express ship" />
                <div class="content_slide">
                    <div class="titre titreGauche">
                        <h2>vaisseau express</h2>
                        <img src="assets/images/banner.svg" alt="banner" class="banner" />
                    </div>
                    <div class="bouton"><a href="#">Voir transport</a></div>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->

        <!-- If we need scrollbar -->
    </div>
</section>
<section class="partenaires">
    <div class="wrapper">
        <h2 data-scrolly="fromRight" data-no-repeat>nos Partenaires</h2>
        <div class="grid_partenaires" data-scrolly="fromRight" data-no-repeat>
            <div class="partenaire">
                <img src="assets/images/logo-partner1.jpg" alt="" />
                <h3>AstroCom Technologies</h3>
            </div>
            <div class="partenaire">
                <img src="assets/images/logo-partner1.jpg" alt="" />
                <h3>AstroCom Technologies</h3>
            </div>
            <div class="partenaire">
                <img src="assets/images/logo-partner1.jpg" alt="" />
                <h3>AstroCom Technologies</h3>
            </div>
            <div class="partenaire">
                <img src="assets/images/logo-partner1.jpg" alt="" />
                <h3>AstroCom Technologies</h3>
            </div>
            <div class="partenaire">
                <img src="assets/images/logo-partner1.jpg" alt="" />
                <h3>AstroCom Technologies</h3>
            </div>
            <div class="partenaire">
                <img src="assets/images/logo-partner1.jpg" alt="" />
                <h3>AstroCom Technologies</h3>
            </div>
        </div>
    </div>
</section>
<section class="articles_recents">
    <div class="wrapper"></div>
</section>

{% include '_partials/_footer.html' %}
