{% include '_partials/_header.html' %}
<section class="membre">
    <div class="content_membre">
        <div class="membre__media">
            <img src="assets/images/team_member_jacky.png" alt="membre équipe Jacky" />
        </div>
        <div class="membre__content">
            <h1>Mikaël Laferrière</h1>
            <span class="role">Responsable Logistique</span>
            <p class="recommendation">Sa recommendation : téléporteur</p>
            <ul class="competences">
                <li>Créativité</li>
                <li>Organisé</li>
                <li>Drôle</li>
                <li>Enthousiaste</li>
            </ul>
            <p>
                Mikaël coordonne la gestion des stocks, des approvisionnements et des livraisons. S’assure que les
                produits arrivent à destination de manière efficace.
            </p>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
