{% include '_partials/_header.html' %}

<section class="header_transports">
    <div class="wrapper">
        <div class="content_hero_transports">
            <h1>Nos transports</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Ut et massa mi. Lorem ipsum <br />dolor sit amet, consectetur sit amet,
                consectetur
            </p>
        </div>
        <img src="assets/images/express_ship_alpha.png" alt="Vaisseau Express" />
    </div>
</section>

<sections class="transports_list">
    <div class="transport">
        <img src="assets/images/express_ship.png" alt="" class="vignette" />
        <div class="wrapper">
            <div class="titre titreGauche">
                <h2>vaisseau express</h2>
                <img src="assets/images/banner.svg" alt="banner" class="banner" />
            </div>
            <div class="bouton"><a href="#">Voir transport</a></div>
        </div>
    </div>
    <div class="transport">
        <img src="assets/images/express_ship.png" alt="" class="vignette" />
        <div class="wrapper">
            <div class="titre titreDroite">
                <h2>vaisseau express</h2>
                <img src="assets/images/banner.svg" alt="banner" class="banner" />
            </div>
            <div class="bouton"><a href="#">Voir transport</a></div>
        </div>
    </div>
    <div class="transport">
        <img src="assets/images/express_ship.png" alt="" class="vignette" />
        <div class="wrapper">
            <div class="titre titreGauche">
                <h2>vaisseau express</h2>
                <img src="assets/images/banner.svg" alt="banner" class="banner" />
            </div>
            <div class="bouton"><a href="#">Voir transport</a></div>
        </div>
    </div>
    <div class="transport">
        <img src="assets/images/express_ship.png" alt="" class="vignette" />
        <div class="wrapper">
            <div class="titre titreDroite">
                <h2>vaisseau express</h2>
                <img src="assets/images/banner.svg" alt="banner" class="banner" />
            </div>
            <div class="bouton"><a href="#">Voir transport</a></div>
        </div>
    </div>
</sections>

{% include '_partials/_footer.html' %}
