{% include '_partials/_header.html' %}

<section class="hero_transport">
    <div class="wrapper">
        <div class="titre titreGauche">
            <h2>vaisseau express</h2>
            <img src="assets/images/banner.svg" alt="banner" class="banner" />
        </div>
        <div class="content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Ut et massa mi.
            </p>
            <p class="price">PRIX: 2500$</p>
            <div class="bouton"><a href="#">Réserver un transport</a></div>
        </div>
    </div>
    <img src="assets/images/express_ship.png" alt="" class="vignette" />
</section>

<section class="carousel_avantages">
    <div class="wrapper">
        <h2>Avantages</h2>
        <div class="swiper" data-component="Carousel" data-split="true">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img class="img_slide_left" src="assets/images/express_ship.png" alt="Express ship" />
                    <div class="content_slide_right">
                        <h3>Nom avantage</h3>
                        <h4>exemple/phrase d'accroche</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in
                            hendrerit urna
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img class="img_slide_left" src="assets/images/express_ship.png" alt="Express ship" />
                    <div class="content_slide_right">
                        <h3>Nom avantage</h3>
                        <h4>exemple/phrase d'accroche</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in
                            hendrerit urna
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img class="img_slide_left" src="assets/images/express_ship.png" alt="Express ship" />
                    <div class="content_slide_right">
                        <h3>Nom avantage</h3>
                        <h4>exemple/phrase d'accroche</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in
                            hendrerit urna
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img class="img_slide_left" src="assets/images/express_ship.png" alt="Express ship" />
                    <div class="content_slide_right">
                        <h3>Nom avantage</h3>
                        <h4>exemple/phrase d'accroche</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in
                            hendrerit urna
                        </p>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->

            <!-- If we need scrollbar -->
        </div>
    </div>
</section>

<section class="specs">
    <div class="wrapper">
        <div class="titre titreGauche">
            <h2>Spécifications</h2>
            <img src="assets/images/banner.svg" alt="banner" class="banner" />
        </div>
        <img src="assets/images/cargo_ship.jpg" alt="" class="vignette" />

        <div class="grid_specs">
            <div class="spec">
                <div class="spec_text">
                    <p>Vitesse max:</p>
                    <h3>3000km/h</h3>
                </div>
            </div>
            <div class="spec">
                <div class="spec_text">
                    <p>Capacité:</p>
                    <h3>200 personnes</h3>
                </div>
            </div>
            <div class="spec">
                <div class="spec_text">
                    <p>Cons. électrique:</p>
                    <h3>20 mgW/h</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="options_transport">
    <div class="wrapper">
        <div class="titre titreGauche">
            <h2>Prix et Options</h2>
            <img src="assets/images/banner.svg" alt="banner" class="banner" />
        </div>
        <img src="assets/images/hero_galaxy.png" alt="" class="vignette" />

        <div class="grid_options">
            <div class="options_card">
                <div class="title">
                    <h3>PRIX</h3>
                    <h4>*en CAD$</h4>
                </div>

                <ul>
                    <li>1000$ par jour.</li>
                    <li>6000$ par semaine.</li>
                    <li>25000$ par mois.</li>
                    <li>100000$ pour l'achat.</li>
                </ul>
            </div>
            <div class="options_card">
                <div class="title">
                    <h3>Options suppl.</h3>
                </div>

                <ul>
                    <li>Musiques choisie pour vous.</li>
                    <li>Collations comprises.</li>
                    <li>Version Sport.</li>
                    <li>Assistant(e) IA intégré.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="options_transport comparatif">
    <div class="wrapper">
        <div class="titre titreGauche">
            <h2>Spécifications</h2>
            <img src="assets/images/banner.svg" alt="banner" class="banner" />
        </div>
        <img src="assets/images/hero_equipe.png" alt="" class="vignette" />

        <div class="grid_comparatif">
            <div class="options_card comparatif_card">
                <h3>V. Cargo</h3>
                <h4>Prix: xxxxxx$</h4>
                <ul>
                    <li>Vitesse max : xxxxx</li>
                    <li>Capacité : xxxxx</li>
                    <li>Cons. électrique : xxxxx</li>
                    <li>
                        Avantages :
                        <ul>
                            <li>Avantage 1</li>
                            <li>Avantage 2</li>
                            <li>Avantage 3</li>
                            <li>Avantage 4</li>
                        </ul>
                    </li>
                </ul>
                <div class="bouton"><a href="#">Voir Transport</a></div>
            </div>
            <div class="options_card comparatif_card">
                <h3>V. Cargo</h3>
                <h4>Prix: xxxxxx$</h4>
                <ul>
                    <li>Vitesse max : xxxxx</li>
                    <li>Capacité : xxxxx</li>
                    <li>Cons. électrique : xxxxx</li>
                    <li>
                        Avantages :
                        <ul>
                            <li>Avantage 1</li>
                            <li>Avantage 2</li>
                            <li>Avantage 3</li>
                            <li>Avantage 4</li>
                        </ul>
                    </li>
                </ul>
                <div class="bouton"><a href="#">Voir Transport</a></div>
            </div>
            <div class="options_card comparatif_card">
                <h3>V. Cargo</h3>
                <h4>Prix: xxxxxx$</h4>
                <ul>
                    <li>Vitesse max : xxxxx</li>
                    <li>Capacité : xxxxx</li>
                    <li>Cons. électrique : xxxxx</li>
                    <li>
                        Avantages :
                        <ul>
                            <li>Avantage 1</li>
                            <li>Avantage 2</li>
                            <li>Avantage 3</li>
                            <li>Avantage 4</li>
                        </ul>
                    </li>
                </ul>
                <div class="bouton"><a href="#">Voir Transport</a></div>
            </div>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
