/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #f8fdff;
    --color-black: #333333;

    // Couleurs du projet
    --color-primary: #fda93d;
    --color-secondary: #b2d2fa;
    --color-bg-primary: #384965;
}
